{% extends "learning/course/detail.html" %}
{% load i18n learning django_bootstrap_breadcrumbs %}

{% block title %}{{ block.super }} − {% trans "Objectives" %}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Objectives" "learning:course/details/objective" course.slug %}
{% endblock %}

{% block learning_content %}

  {# Show a warning if the course is private #}
  {% if course.access == 'PRIVATE' %}
    <div id="alert-objectives-no-access" class="alert alert-warning" role="alert">
      {% trans "This course is private. This means your collaborators loose all their permissions until you toggle access level to at least “Collaborators only”." %}
    </div>
  {% endif %}

  {% with "course" as object_name %}
    {% include "learning/taxonomy/objective/detail/objective_content.html" %}
  {% endwith %}

{% endblock %}
