{% extends "learning/activity/base.html" %}
{% load i18n learning django_bootstrap_breadcrumbs %}

{% block title %}{{ block.super }} −
  {% blocktrans with name=activity.name %}Activity “{{ name }}”{% endblocktrans %}
{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "My activities" "learning:activity/my" %}
  {% if activity.name|length >= 70 %}
    {% breadcrumb activity.name|truncatechars:40 "learning:activity/detail" activity.slug %}
  {% else %}
    {% breadcrumb activity.name "learning:activity/detail" activity.slug %}
  {% endif %}
{% endblock %}

{% block sidebar %}
  {% include "learning/activity/_includes/sidebar.html" %}
{% endblock %}

{% block learning_content %}

  {% if request.GET.course in request.get_full_path %}
    <a href="{% url "learning:course/detail" slug=request.GET.course %}">
      <button type="button" class="btn btn-outline-success">
        <i class="fas fa-arrow-left"></i> {% trans "Go back to your course" %}
      </button>
    </a>
    <hr>
  {% endif %}

  <div id="alert-copy-link" class="alert alert-info hidden" role="alert">
    {% trans "Link copied to your clipboard." %}
  </div>

  <div class="clearfix">

    {# Name and permalink to the activity #}
    <h3 class="float-left my-1 word-break">
      <button id="copy-link-button" onclick="copyLink()" class="mr-2 btn btn-outline-koala" value="{{ request.get_host }}{% url "learning:activity/detail" slug=activity.slug %}"
         data-toggle="tooltip" data-placement="top" title="{% trans "Copy the link of the activity" %}">
        <i class="fa fa-copy"></i>
      </button>
      {% if activity.name|length >= 70 %}
        {{ activity.name|truncatechars:40 }}
      {% else %}
        {{ activity.name }}
      {% endif %}
    </h3>
    <div class="my-1 ml-2 float-right">

      {% get_object_perms activity user as activity_perms %}
      {# Button to change the activity #}
      {% if "change_activity" in activity_perms %}
        <a id="btn-change-activity" href="{% url 'learning:activity/update' slug=activity.slug %}" class="btn btn-outline-warning">
          <i class="fa fa-edit"></i> {% trans "Edit" %}
        </a>
      {% endif %}

      {# Button to delete the activity #}
      {% if "delete_activity" in activity_perms %}
        <a id="btn-delete-activity" href="{% url 'learning:activity/delete' slug=activity.slug %}" class="btn btn-outline-danger">
          <i class="fa fa-trash"></i>
        </a>
      {% endif %}

    </div>
  </div>

  {# Activity description line: status badges, author, tags and country #}
  <hr class="activity_title_separator">
  <div class="clearfix">
  <div id="object-tags" class="float-left">
    {% include "learning/_includes/object_tags_line.html" %}
  </div>
    <div id="object-language" class="float-right">
      {% include "learning/_includes/object_language.html" %}
      <span id="author-badge" class="badge badge-pill badge-language p-1 float-right mx-2">
        <i class="fas fa-pen"></i> {% blocktrans with author=activity.author %}Writen by {{ author }}{% endblocktrans %}
      </span>
    </div>
  </div>
  <hr>
  {% if user == activity.author or contribution%}
    {% include "learning/activity/_includes/details/status_line.html" %}
    <hr>
  {% endif %}

  {# Activity description content #}
  <div class="p-3 model_description my-4">
    {{ activity.description | render_markdown | safe }}
  </div>
  {# Activity objectives #}
  {% if objectives %}
    {% include "learning/taxonomy/objective/detail/objective_list.html" with object=activity objectives=objectives.page_obj object_name='activity'%}
  {% endif %}

  <hr>

  {# Resources linked to the activity #}
  <div class="clearfix">
    <h3 class="float-left">{% trans "Resources" %}</h3>

    {# The user can change the activity, thus can add resources. This displays the window to create or attach one #}
    {% if "change_activity" in activity_perms %}
      <div class="text-right">
      <a id="link-activity-attach-resource"  href="{% url "learning:activity/detail/resource/attach" slug=activity.slug %}"
         class="btn btn-outline-primary">
        <i class="fa fa-search"></i> {% trans "Associate an existing resource" %}
      </a>
      <a id="link-activity-add-resource" href="{% url 'learning:activity/detail/resource/add' slug=activity.slug %}" class="btn btn-outline-success">
        <i class="fa fa-plus"></i> {% trans "Create a resource" %}
      </a>
      </div>
    {% endif %}

  </div>
  <hr class="resource_title_separator">

   {# Display activity resources #}
  {% with resources=activity.resources.all %}
    {% if resources %}
      <div class="row">
        {% for resource in resources %}
          {% include "learning/resource/_includes/block/resource_block.html" with resource=resource unlink=True linked_activity=activity %}
        {% endfor %}
      </div>
    {% else %}
      <div id="activity-no-resource" class="alert alert-info mt-4" role="alert">
        {% trans "There is no resource yet." %}
        {% if "change_activity" in activity_perms %}
          {% trans "You should consider adding one." context "add a resource" %}
        {% endif %}
      </div>
    {% endif %}
  {% endwith %}
{% endblock %}
