{% load i18n learning %}

<div class="col-lg-4 col-md-6 col-sm-6 col-12 p-2">
  <a  class="btn btn-outline-default course_link shadow-none w-100 h-100 p-0"  href="{% url 'learning:course/detail' slug=course.slug %}">
    <div class="card w-100 h-100">
      <div class="card-body">
        {% block course_block_header %}
          {% get_object_perms course user as course_perms %}
            {% if "view_course" in course_perms %}
              <div class="d-flex flex-row-reverse justify-content-around align-items-center word-break w-100">
              {% if not "similar" in request.get_full_path %}
                {% if user.is_authenticated %}
                  {% get_course_collaborator_object course user as course_collaborator %}
                  {% if user in course.students.all %}
                    <form action="{% url "learning:course/my/favourite" course.slug %}" method="post">
                    {% csrf_token %}
                    {% if user in course.favourite_for.all %}
                      <button class="btn btn-outline-warning" type="submit" data-toggle="tooltip"
                              data-placement="top" title="{% trans "Remove favourites" %}">
                        <i class="fa fa-star"></i>
                      </button>
                    {% else %}
                     <button class="btn btn-outline-warning" type="submit"  data-toggle="tooltip"
                              data-placement="top" title="{% trans "Add to favourites" %}">
                       <i class="far fa-star"></i>
                     </button>
                    {% endif %}
                    </form>
                  {% elif user == course.author or course_collaborator %}
                    <form action="{% url "learning:course/teaching/favourite" course.slug %}" method="post">
                    {% csrf_token %}
                    {% if user in course.favourite_for.all %}
                      <button class="btn btn-outline-warning" type="submit" data-toggle="tooltip"
                              data-placement="top" title="{% trans "Remove favourites" %}">
                        <i class="fa fa-star"></i>
                      </button>
                    {% else %}
                     <button class="btn btn-outline-warning" type="submit"  data-toggle="tooltip"
                              data-placement="top" title="{% trans "Add to favourites" %}">
                       <i class="far fa-star"></i>
                     </button>
                    {% endif %}
                    </form>
                  {% endif %}
                {% endif %}
                  <div class="card-link m-1 w-75 text-left">
                  {% if course.name|length >= 50 %}
                    <h5 class="card-title mb-0">{{ course.name|truncatechars:30 }}</h5>
                  {% else %}
                    <h5 class="card-title mb-0">{{ course.name }}</h5>
                  {% endif %}
                  </div>
              {% else %}
                  {% if course.name|length >= 50 %}
                    <h5 class="card-title mb-0">{{ course.name|truncatechars:30 }}</h5>
                  {% else %}
                    <h5 class="card-title mb-0">{{ course.name }}</h5>
                  {% endif %}
                {% endif %}
            {% endif %}
          </div>
        {% endblock %}

        <hr>

        <div class="float-left text-left">
          {% include "learning/_includes/object_tags_line.html" with object=course %}
        </div>

        <div class="card-text">
          {% block course_block_content %}{% endblock %}
        </div>

      </div>

      <div class="card-footer bg-white">
        {% block course_card_footer %}
          <div class="clearfix">
            <div class="float-left">
            {% if user in course.students.all %}
              <span id="registered-student-badge" class="badge badge-pill badge-info  p-1" data-toggle="tooltip" data-placement="top"
                    title="{% trans "You registered to this course. You can unregister if a teacher allows you to." %}">
                  {% trans "Registered" %}
              </span>
              {% elif course.registration_enabled  and not user == course.author %}
                <span class="badge badge-pill badge-info p-1"  data-toggle="tooltip" data-placement="top"
                    title="{% trans "You can register to this course." %}">
                  {% trans "Registration enabled" %}
                </span>
            {% endif %}
            </div>
            <div class="float-right">
              {% include "learning/activity/_includes/nb_activities_badge.html" with course=course %}
            </div>
          </div>
        {% endblock %}
      </div>
    </div>
  </a>
</div>

